/* About */
.about {
	background: linear-gradient(rgba(35, 35, 35, 0.85), rgba(35, 35, 35, 0.85)), url(../img/about-bg.jpg);
	background-size: cover;
	background-position: center;
	text-align: center;
	color: #ffffff;
	padding: 1.25%;
}
.about a {
	border: 1px solid #ffffff;
	padding: 1.5% 2.25%;
}
.about a:hover {
	background: rgba(255,255,255,0.25);
}
.heroButton {
	margin: 5% 0;
}
.about p {
	text-align: left;
	margin: 3% 2.25%;
}
@media (min-width: 1024px) {
	/* About */
	.about {
		padding: 1.25% 0;
	}
	.about p {
		width: 50%;
		padding: 0 25%;
		margin: 3% 0;
		line-height: 25px;
	}
}